celery
celery-progress
channels
channels_redis
daphne
django
django-admin-interface
django-bootstrap5
django-celery-beat
django-celery-results
django-colorfield
django-debug-toolbar
docker
msgpack
paramiko
psycopg2
pycryptodome
python-dateutil
pyyaml
redis
slugify
twisted

