celery
celery-progress
channels
channels_redis
cron_descriptor
daphne
Django
django-admin-interface
django-bootstrap5
django-celery-beat
django-celery-results
django-colorfield
django-debug-toolbar
django-minify-html
django-redis
django-timezone-field
docker
minify-html
msgpack
paramiko
pillow
psycopg2-binary
pycryptodome
python-dateutil
pyyaml
redis
six
twisted
