# Change these fields to correct values and save it as secrets.txt

ADMIN_USERNAME = "admin"
ADMIN_EMAIL = "admin@admin.com"
DB_PASSWORD = "development"
DEFAULT_FROM_EMAIL = "Inabox mail@goes.here"
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = "smtp.mail.com"
EMAIL_HOST_USER = "mail@goes.here"
EMAIL_HOST_PASSWORD = "your email password"
EMAIL_PORT = 587
EMAIL_USE_TLS = True
SECRET_KEY = 'django-insecure-$&50skc3lh+e7+ukdex*5u07o_o%_x93u&xw6#%r5w-60#iw@n'
