{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("About") }}{% endblock %}
{% block content %}
Five Stages of Skill Acquisition

Novice

    Operate by using context-free features and rules
    Do not understand that rules are contextually based; context-free rules need to occasionally be violated given the context or situation presented
    Do not assume responsibility for the consequences – “As a consequence, they [novices] feel little responsibility for the outcome of their acts. Assuming that they have made no mistakes, an unfortunate outcomes is viewed as the result of inadequately specified elements or rules (p. 26).” Thus the desire to create a protocol or a set of concrete rules results.
    Follows rules
Advanced Beginner

    Achieved after considerable experience
    More sophisticated rules that are situational
    Develops the idea that the idea of developing skill is a much larger conception  “Through practical experience in concrete situations with meaningful elements, which neither an instructor nor the learner can define in terms of objectively recognizable context-free features, the advanced beginner starts to recognize those elements when they are present (p.22).”
    The advanced beginner begins to ask the question – how? How does one (fill in the blank)?
    Can set goals but can’t set them reasonably
Competent

    More experience
    Possesses a sense of importance and is able to prioritize behaviors based on levels of importance. Behavior is determined by importance and not by context-free rules or merely situational rules
    Possess a hierarchical procedure for making decisions
    Requires organization and the creation of a plan
    Accepts responsibility for choices because they recognize they made choices; they are emotionally invested in their decision-making “The competent performer, on the other hand, after wrestling with the question of the choice of a plan, feels responsible for, and thus emotionally involved in, the product of his choice (p. 26).”
    Problem-solving indicates competence
    Slow and detached reasoning (problem-solving)
    Makes decisions
Proficient

    Uses intuition based on enough past experience
    Intuition is “...the product of deep situational involvement and recognition of similarity (p. 29).”
    Intuitive-based cognition coupled with detached decision-making. The proficient person recognizes intuitively but responds by more calculative decisions. Being proficient means attributing success to the calculative aspects of the success and ignoring the even more brilliant intuition that occurred first.
Expert

    Functions or responds as a result of “mature and practiced understanding”
    Loss of awareness of intuition and decision-making – operates simply because he does; knowledge becomes tacit
    “When things are proceeding normally, experts don’t solve problems and don’t make decisions; they do what normally works (pp. 30-31).”
    Experts “see” but sometimes don’t recognize that they “see”
    Experts perform without reflecting on every behavior, but experts do reflect and will consider alternatives when presented with time and critical outcomes. When experts reflect, they engage in critical reflection of their own assumptions.
    They possess: “An immense library of distinguishable situations is built up on the basis of experience (p. 32).”
    Actions are unconscious operating out of intuition and tacit knowledge
    Performance is fluid
    “But when time permits and much is at stake, detached deliberative rationality of the type described can enhance the performance of even the intuitive expert (p. 40).”
{% endblock %}