{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'news:news' %}">
          <img src="{% static 'challenges/images/multicolor-cargo-containers.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="In a box">In a box</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-item nav-link" href="{% url 'challenges:challenges' %}">{{ _("Challenges") }}</a>
        <a class="nav-item nav-link" href="#">{{ _("New challenge") }}</a>
        <a class="nav-item nav-link" href="#">{{ _("Users") }}</a>
        <a class="nav-item nav-link" href="#">{{ _("About") }}</a>
        <!--<a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>-->
        <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
      </div>

      <form class="d-flex">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="{{ _("Search") }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <div class="nav-item dropdown mx-lg-3">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ LANGUAGE_CODE }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
          <a class="dropdown-item" href="/ca">{{ language.name }} ({{ language.code }})</a>
          {% endfor %}
        </div>    
      </div>            
      
      {% if user.is_authenticated %}
      <a class="nav-item nav-link px-lg-4" href="#">{{ _("Welcome") }}, {{ user.get_username }}</a>
      <a class="btn btn-warning" href="{% url 'logout' %}">{{ _("Log out!") }}</a>
      {% else %}
      <a class="btn btn-primary mx-lg-2" href="{% url 'login' %}">{{ _("Log in!") }}</a>
      {% endif %}

      
    </div>
  </div>
</nav>
