{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'challenges/css/xterm.css' %}">
{% endblock %}
{% block title %}{{ challenge.title }}{% endblock %}
{% block content %}

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <h5 class="card-title">{{ challenge.title }}</h5>
      </div>
      <div class="col-4">
        <h6 class="card-subtitle pt-2 float-end">
        <button type="button" class="btn btn-outline-dark btn-sm position-relative me-2 mb-2" disabled>{{ challenge.area }}</button>
        <button type="button" class="btn btn-outline-dark btn-sm position-relative me-2 mb-2" disabled>{{ challenge.get_level_display }}</button>
        <button type="button" class="btn btn-outline-dark btn-sm position-relative me-2 mb-2" disabled>{{ challenge.get_language_display }}</button>
        <button type="button" class="btn btn-outline-dark btn-sm position-relative me-2 mb-2" disabled>
          {{ _("Total tries") }}
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ challenge.tries }}
          </span>
        </button>
        <button type="button" class="btn btn-outline-dark btn-sm position-relative me-2 mb-2" disabled>
          {{ _("Solved") }}
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ challenge.solved }}
          </span>
        </button>
        </h6>
      </div>
    </div>
    <p class="card-text pt-3">{{ challenge.summary }}</p>
    <p class="card-text">{{ challenge.full_description }}</p>
    
    {% if uct.tries > 0 %}
    {% if uct.solved %}
    <div class="alert alert-success" role="alert">
    {{ _("You have tried") }} {{ uct.tries }} {{ _("times and solved it") }}
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
      {{ _("You have tried") }} {{ uct.tries }} {{ _("times and not solved it, yet.") }}
    </div>
    {% endif %}
    {% endif %}

    <div id="waiter" style="display: none"> Connecting ... </div>

    {% if user.is_authenticated %}
    <form id="connect" action="{% url 'challenges:challenge_detail' challenge.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ challenge_ssh_form }}
      <button id="submit" type="submit" class="btn btn-primary">{{ _("Let's try to solve it!") }}</button>
      <a href="{% url 'challenges:challenges' %}" class="btn btn-success">{{ _("Go back") }}</a>
    </form>
    <div id="status" style="color: red;"></div>
    <div class="mt-2">
      <div id="terminal"></div>
    </div>
    {% else %}
    <a class="btn btn-success" href="{% url 'challenges:challenges' %}" >{{ _("Go back") }}</a>
    <div class="mt-2" style="color: red;">{{ _("You need to be logged in to try this challenge. Please log in!")}}</div>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'challenges/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'challenges/js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'challenges/js/addon-fit.js' %}"></script>
  <script type="text/javascript" src="{% static 'challenges/js/xterm.js' %}"></script>
  <script type="text/javascript" src="{% static 'challenges/js/webssh.js' %}"></script>
{% endblock %}
