{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block title %}Challenges{% endblock %}
{% block content %}
{% if challenge_list %}
      {% for challenge in challenge_list %}
      <div class="container pt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'challenges:challenge_detail' pk=challenge.id %}"> {{ challenge.title }}</a> by {{ challenge.creator }}
            </h5>
            <h6 class="card-subtitle pt-2">{{ challenge.area }} ({{ challenge.solved }}/{{ challenge.tries }}) Level {{ challenge.difficulty}} {{ challenge.pub_date }}</h6>
            <p class="card-text pt-3">{{ challenge.summary }}</p>
            <a href="{% url 'challenges:challenge_detail' pk=challenge.id %}" class="btn btn-primary">Check me out!</a>
          </div>
        </div>
      </div>
      {% endfor %}
  {% else %}<p>No challenges are available.</p>{% endif %}
{% endblock %}
