{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'challenges/css/xterm.css' %}">
{% endblock %}
{% block title %}{{ challenge.title }}{% endblock %}
{% block content %}
<div class="container pt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ challenge.title }}</h5>
        <h6 class="card-subtitle pt-2">({{ challenge.area }})</h6>
        <p class="card-text pt-3">{{ challenge.full_description }}</p>
        <p class="card-text pt-2">Tried {{ challenge.tries }} times, solved {{ challenge.solved }} times.</p>
        <div id="waiter" style="display: none"> Connecting ... </div>
        <div class="container form-container" style="display: none">
          <form id="connect" action="{% url 'challenges:challenge_detail' challenge.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ connect_ssh_form }}
            <button id="submit" type="submit" class="btn btn-primary">Let's try to solve it!</button>
            <a href="{% url 'challenges:challenges' %}" id="cancel" class="btn btn-danger">Go back</a>
          </form>
        </div>
        <div class="container pt-3">
          <div id="status" style="color: red;"></div>
          <div id="terminal"></div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'challenges/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'challenges/js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'challenges/js/addon-fit.js' %}"></script>
  <script type="text/javascript" src="{% static 'challenges/js/xterm.js' %}"></script>
  <script type="text/javascript" src="{% static 'challenges/js/webssh.js' %}"></script>
{% endblock %}
