{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("Player") }}{% endblock %}
{% block content %}
{% load i18n %}
{% load static %}
<div class="mb-3">
<img class="img-thumbnail"
    src="{% static avatar %}" alt="avatar" width="128">
</div>

<h1 class="mb-5">
{% if user.first_name and user.last_name %}
{{ user.first_name }} {{ user.last_name }}
{% else %}
{{ user.username }}
{% endif %}
</h1>

<!--

  organization
  team
  solved
  points
  rank
-->

{% endblock %}
