{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block title %}
{% endblock %}
{% block content %}

{% if user.is_authenticated and user_data and profile_data %}

<div class="row mb-sm-3">
    <div class="col-sm-3">
        {% load static %}
        <div class="mb-3">
        <img class="img-thumbnail"
            src="{% static avatar %}" alt="avatar" width="128">
        </div>
            </div>
    <div class="col-sm-9">
        <h1>
        {% if user.first_name and user.last_name %}
        {{ user.first_name }} {{ user.last_name }}'s profile
        {% else %}
        {{ user.username }}'s profile
        {% endif %}
        </h1>
    </div>
</div>
<div class="row">
<form class="form-horizontal col-sm-6" action="#" role="form">
{% for e in user_data %}
<div class="form-group mb-3 row">
    <label for="{{ e.name }}" class="control-label col-sm-4 mt-2">{{ e.label }}</label>
    <div class="col-sm-8">
    <input type="text" class="form-control" id="{{ e.name }}" value="{{ e.value }}" disabled>
    </div>
</div>
{% endfor %}
</form>

<form class="form-horizontal col-sm-6" action="#" role="form">
{% for e in profile_data %}
<div class="form-group mb-3 ms-sm-4 row">
    <label for="{{ e.name }}" class="control-label col-sm-4 mt-2">{{ e.label }}</label>
    <div class="col-sm-8">
    <input type="text" class="form-control" id="{{ e.name }}" value="{{ e.value }}" disabled>
    </div>
</div>
{% endfor %}
</form>
</div>
{% else %}
<h2>Error</h2>
{% endif %}
{% endblock %}

