{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block title %}
{% endblock %}
{% block content %}

{% if user.is_authenticated %}

        {% load static %}
        <div class="mb-3">
        <img class="img-thumbnail"
            src="{% static avatar %}" alt="avatar" width="128">
        </div>

        <h1 class="mb-5">
        {% if user.first_name and user.last_name %}
        {{ user.first_name }} {{ user.last_name }}
        {% else %}
        {{ user.username }}
        {% endif %}
        </h1>

{% if user_data and profile_data %}
<h2>{{ _("Profile") }}</h2><hr />
<div class="row">
<form class="form-horizontal col-sm-6" action="#" role="form">
{% for e in user_data %}
<div class="form-group mb-3 row">
    <label for="{{ e.name }}" class="control-label col-sm-4 mt-2">{{ e.label }}</label>
    <div class="col-sm-8">
    <input type="text" class="form-control" id="{{ e.name }}" value="{{ e.value }}" disabled>
    </div>
</div>
{% endfor %}
</form>

<form class="form-horizontal col-sm-6" action="#" role="form">
{% for e in profile_data %}
<div class="form-group mb-3 ms-sm-4 row">
    <label for="{{ e.name }}" class="control-label col-sm-4 mt-2">{{ e.label }}</label>
    <div class="col-sm-8">
    <input type="text" class="form-control" id="{{ e.name }}" value="{{ e.value }}" disabled>
    </div>
</div>
{% endfor %}
</form>
</div>
{% endif %}
{% endif %}
{% endblock %}

