{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block title %}
{% if user.first_name and user.last_name %}
{{ user.first_name }} {{ user.last_name }}'s profile
{% else %}
{{ user.username }}'s profile
{% endif %}
{% endblock %}
{% block content %}

{% if user.is_authenticated and user_data and profile_data %}

<div class="row">
<form class="form-horizontal col-sm-6" action="#" role="form">
{% for e in user_data %}
<div class="form-group mb-3 row">
    <label for="{{ e.name }}" class="control-label col-sm-3">{{ e.label }}</label>
    <div class="col-sm-9">
    <input type="text" class="form-control" id="{{ e.name }}" value="{{ e.value }}" disabled>
    </div>
</div>
{% endfor %}
</form>

<form class="form-horizontal col-sm-6" action="#" role="form">
{% for e in profile_data %}
<div class="form-group mb-3 ms-sm-4 row">
    <label for="{{ e.name }}" class="control-label col-sm-3">{{ e.label }}</label>
    <div class="col-sm-9">
    <input type="text" class="form-control" id="{{ e.name }}" value="{{ e.value }}" disabled>
    </div>
</div>
{% endfor %}
</form>
</div>
{% else %}
<h2>Error</h2>
{% endif %}
{% endblock %}

