{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("Team") }} "{{ team.name }}"{% endblock %}
{% block content %}
{% load i18n %}
{% load static %}
<div class="row">
  <div class="col-sm-2">
    <div class="mb-3">
      <img class="img-thumbnail"
      src="{% static team.image.url %}" alt="avatar" width="256">
    </div>
  </div>
  <h2>{{ _("Members:") }}</h2>
  {% for member in members %}
  <a href="{% url 'challenges:player' pk=member.id %}">
  {% if member.first_name and member.last_name %}
  {{ member.first_name }} {{ member.last_name }}
  {% else %}
  {{ member.username }}
  {% endif %}
  </a>
  <br />
  {% endfor %}
</div>
{% endblock %}
