{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("Teams") }}{% endblock %}
{% block content %}
{% load i18n %}
{% load static %}
{% if team_list %}
<table class="table table-striped table-hover">
  <thead class="table-secondary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ _("Image") }}</th>
      <th scope="col">{{ _("Team") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for team in team_list %}
    <tr class="align-middle">
      <th scope="row">{{ team.id }}</th>
      <td><img class="img-thumbnail" src="{% static team.image %}"
        alt="avatar" width="128"></td>
      <td><a href="{% url 'challenges:team' pk=team.id %}">{{ team.name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>{{ _("No teams available!") }}</p>
{% endif %}
{% endblock %}
