{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("Log in") }}{% endblock %}
{% block content %}

{% if form.errors %}
<p>{{ _("Your username and password didn't match. Please try again.") }}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>{{ _("Your account doesn't have access to this page. To proceed, please login with an account that has access.") }}</p>
    {% else %}
    <p>{{ _("Please login to see this page.") }}</p>
    {% endif %}
{% endif %}


<div class="card w-25 p-3">
    <div class="card-body">
        <form role="form" class="form-horizontal" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="form-group mb-3">
                {{ form.username.label_tag }}
                <input type="text" class="form-control" autofocus required
                    id="{{ form.username.id_for_label }}" aria-describedby="emailHelp"
                    name="{{ form.username.html_name }}" placeholder="{{ form.username.html_name }}">
                <small id="emailHelp" class="form-text text-muted">{{ form.username.errors }}</small>
            </div>
            
            <div class="form-group mb-4">
                {{ form.password.label_tag }}
                <input type="password" class="form-control" required
                    id="{{ form.password.id_for_label }}" aria-describedby="psswordHelp"
                    name="{{ form.password.html_name }}" placeholder="{{ form.password.html_name }}">
                <small id="passwordHelp" class="form-text text-muted">{{ form.password.errors }}</small>
            </div>
            <button type="submit"  class="btn btn-primary me-2" value="login">{{ _("login") }}</button>
            <a class="btn btn-warning ms-2" href="{% url 'password_reset' %}">{{ _("Lost password?") }}</a>
        </form>
    </div>
</div>

{% endblock %}
