{% extends 'app/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("About") }}{% endblock %}
{% block content %}

<div class="card mt-4">
<div class="card-header">
<h2 class="card-title mt-3">Sobre Inabox</h2>
</div>
<div class="card-body">
<p class="card-text fs-5">
Inabox ("En una caixa") és una plataforma per practicar ordres de Linux, un repositori
de problemes, i una plataforma per córrer concursos de sistemes. És 100% codi obert.
Va néixer com un jutge en línia per ajudar telemàticament a l'ensenyament de sistemes
a l'Institut Sabadell arran de l'èxit de la plataforma
<a class="btn btn-primary" href="https://jo-el.es/">JOEL</a>, plataforma dedicada a
programació i en la que es basa Inabox.</p>
<p class="card-text fs-5">
Inabox està obert a totes les institucions educatives i a gent que vulgui
aprendre les comandes de gestió de sistemes operatius pel seu compte. Recopilem
problemes de diverses competicions de sistemes, així com centenars de problemes
bàsics d'aprenentatge per ensenyar conceptes i fer servir exercicis a classe.</p>
<p class="card-text fs-5">
Demanem als usuaris que es llegeixin les normes de participació abans de
participar en el sistema de comentaris.</p>
</div>
</div>

<div class="card mt-4">
<div class="card-header">
<h2 class="card-title mt-3">Què és Inabox?</h2>
</div>
<div class="card-body">
<h4 class="mb-3">Jutge en línia</h4>
<p class="card-text fs-5">
Inabox és un Jutge en Línia. Un Jutge en línia bàsicament t'ofereix problemes de
sistemes, els resols, i te'ls corregeix automàticament. Després et dona punts pel
que fa a la dificultat del problema.</p>
<p class="card-text fs-5">
Hi ha una taula de puntuacions amb què pots competir amb altres usuaris o contra els
alumnes del teu institut.</p>
<h4 class="mt-4 mb-3">Educatiu</h4>
<p class="card-text fs-5">Inabox, a diferència dels altres jutges, és un jutge educatiu.
Els problemes són en general més fàcils, tenen un etiquetatge perquè sàpigues quins
coneixements necessites per resoldre'ls, si el programa no executa correctament et diu
on i per què en comptes de dir-te només que ho has fet malament, i té un sistema de
pistes on pots demanar al sistema que et digui quin és el cas que t'està fallant.
Cada problema té el sistema de comentaris on pots parlar amb altres usuaris per comentar
el problema o demanar/donar pistes.</p>
<p class="card-text fs-5">Els problemes del Inabox, en comptes de valorar-se amb
un 0 o un 1, donen també una nota parcial respecte dels casos de prova que has
superat, per no desanimar els alumnes que intenten problemes difícils i no compleixen
tots els casos.</p>
<h4 class="mt-4 mb-3">Lliure</h4>
<p class="card-text fs-5">
Inabox és un sistema lliure. No només el codi és totalment obert, sinó que la
idea és que qualsevol persona i no només els administradors puguin crear problemes.
Qualsevol usuari amb una mica d'experiència i que hagi llegit les guies pot demanar
permisos per crear problemes, fer problemes nous, i després d'una comprovació,
veure'ls penjats a Inabox amb la seva autoria. La totalitat dels casos de prova es
poden veure per part d'un compte de professor, ja que així poden ajudar els alumnes
a resoldre problemes encallats,bde manera que els problemes també són de codi obert,
en contrapartida de la resta de jutges competitius, en què els casos de prova són un
secret gelosament guardat.</p>
</div></div>

<div class="card mt-4">
<div class="card-header">
<h2 class="card-title mt-3">Què NO és Inabox?</h2>
</div>
<div class="card-body">
<p class="card-text fs-5">
Inabox NO és un jutge competitiu. Tot i tenir problemes competitius, intentem que la
meitat dels nostres problemes siguin problemes senzills d'aprenentatge.</p>
<p class="card-text fs-5">
Inabox NO és un jutge amb 100.000 casos de prova per problema. Els problemes de Inabox
tenen uns 20-25 casos de prova, que cobreixin els casos extrems i més proclius a fallar,
però no n'hi ha més. El sistema de pistes i donar la nota parcial fa que el jutge sigui
més lent que un jutge normal i per tant no volem sobrecarregar-lo.</p>
<p class="card-text fs-5">
Inabox NO és un jutge estricte amb el Timelimit. Per descomptat tenim problemes de
Timelimit i en gairebé tots els problemes les solucions de força bruta fallaran,
però no forçarem problemes que només puguin resoldre a C++ ni obligar els usuaris
a utilitzar llibreries específiques d'input/output. Això pot fer que problemes amb
solucions no òptimes siguin acceptats.</p>
<p class="card-text fs-5">
Inabox NO és perfecte. Tothom pot fer problemes, i de fet molts alumnes ho fan, ja que
és una gran activitat que ajuda molt a entendre com crear casos de prova i testing efectiu.
De vegades hi haurà problemes amb enunciats difícils d'entendre, o que accepten solucions
no òptimes. En algun cas el problema podria tenir un error greu. Tingueu-ho en compte i
sigueu comprensius si trobeu problemes nous d'usuaris amb pocs problemes fets. Es pot
informar de qualsevol error que tingui un problema mitjançant el sistema de tiquets.</p>
</div></div>

<div class="card mt-4">
<div class="card-header">
<h2 class="card-title mt-3">No entenc el missatge que em torna el jutge</h2>
</div>
<div class="card-body">    
<p class="card-text fs-5">Estan tots explicats a la pàgina de respostes del jutge.</p>
</div></div>

<div class="card mt-4">
<div class="card-header">
<h2 class="card-title mt-3">El Jutge m'ha dit "Internal Error"</h2>
</div>
<div class="card-body">    
<p class="card-text fs-5">
Això és un problema del jutge i no teu o del teu enviament.
S'envia un correu automàticament als desenvolupadors quan passa així que no cal que
avisis. Fins que no s'arregli no facis més enviaments perquè seguiran sense funcionar.</p>
</div></div>

<div class="card mt-4">
<div class="card-header">
<h2 class="card-title mt-3">Hi ha pocs problemes en la meva llengua</h2>
</div>
<div class="card-body">    
<p class="card-text fs-5">
La majoria de problemes són fets per professors d'instituts catalans, i per tant, estan
redactats en català. Si tens la interfície amb un altre idioma, només podràs veure els
problemes que estiguin en l'idioma seleccionat.</p>
</div></div>

<div class="card mt-4">
<div class="card-header">
<h2 class="card-title mt-3">M'interessa Inabox. Com puc unir la meva institució educativa?</h2>
</div>
<div class="card-body">    
<p class="card-text fs-5">
Si ets professor envia'm un correu a gcastel9 -arroba- ies-sabadell.cat. Et crearem una
organització per tenir els teus alumnes agrupats i un compte de professor amb què podràs
veure els enviaments dels teus alumnes.</p>
<p class="card-text fs-5">
Pots consultar la guia de professors aquí</p>
</div></div>

<div class="card mt-4">
<div class="card-header">
<h2 class="card-title mt-3">Qui hi ha darrere d'això i com em poso en contacte?</h2>
</div>
<div class="card-body">    
<p class="card-text fs-5">
Inabox està desenvolupat pel Gustau, que és professor d'FP a l'Institut sabadell.
Pots posar-te en contacte amb ell enviant un correu a gcastel9 -arroba- ies-sabadell.cat</p>
</div></div>

<div class="card my-4">
<div class="card-header">
<h2 class="card-title mt-3">Com puc col·laborar amb Inabox?</h2>
</div>
<div class="card-body">    
<p class="card-text fs-5">
Pots col·laborar creant problemes. Llegeix la guia del Creador de Problemes TOT i posa't
en contacte amb un administrador perquè et doni permisos.</p>
<p class="card-text fs-5">
També pots reportar o arreglar bugs. Fes-ho des de les "Issues" del
<a class="btn btn-primary" href="https://github.com/karasu/inabox">Github d'Inabox</a></p>
</div></div>
{% endblock %}