{% extends 'news/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("Organizations") }}{% endblock %}
{% block content %}
{% load i18n %}
{% load static %}
<div class="row">
  <div class="col-lg-10">
    {% if organization_list %}
    <table class="table border table-borderless">
      <thead class="border">
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{ _("Image") }}</th>
          <th scope="col">{{ _("Organization") }}</th>
          <th scope="col">{{ _("Description") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for organization in organization_list %}
        <tr class="align-middle">
          <th scope="row">{{ organization.id }}</th>
          <td><a href="{% url 'app:organization' pk=organization.id %}"><img class="img-thumbnail" src="{% static organization.image.url %}"
          alt="avatar" width="64"></a></td>
          <td><a href="{% url 'app:organization' pk=organization.id %}">{{ organization.name }}</a></td>
          <td>{{ organization.description|truncatechars:64 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-danger" role="alert">{{ _("No organizations in database!") }}</div>
    {% endif %}
  </div>

  <div class="col-lg-2">
    {% if user.is_staff %}
    <div class="card">
      <div class="card-header">
        {{ _("Administration") }}
      </div>
      <div class="card-body text-center">
        <a class="btn btn-secondary"
          href="{% url 'admin:challenges_organization_add' %}">{{ _("New organization") }}</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
