{% extends 'app/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("Players") }}{% endblock %}
{% block content %}
{% load i18n %}
{% load static %}
<div class="row">
  <div class="col-lg-10">
{% if user_list %}
<table class="table border table-borderless">
  <thead class="border">
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ _("Avatar") }}</th>
      <th scope="col">{{ _("Username") }}</th>
      <th scope="col">{{ _("Name") }}</th>
      <th scope="col">{{ _("Team") }}</th>
      <th scope="col">{{ _("Organization") }}</th>
      <th scope="col" class="text-center">{{ _("Points") }}</th>
      <th scope="col" class="text-center">{{ _("Solved") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for player in user_list %}
    <tr class="align-middle">
      <th scope="row">{{ player.id }}</th>
      <td><a href="{% url 'challenges:player' pk=player.id %}"><img class="img-thumbnail" src="{% static player.profile.avatar.url %}"
      alt="avatar" width="64"></a></td>
      <td><a href="{% url 'challenges:player' pk=player.id %}">{{ player.username}}</a></td>
      <td>{{ player.first_name }} {{ player.last_name }}</td>
      <td><a href="{% url 'challenges:team' pk=player.profile.team.id %}">
      {{ player.profile.team }}</a></td>
      <td><a href="{% url 'challenges:organization' pk=player.profile.organization.id %}">
      {{ player.profile.organization }}</a></td>
      <td class="text-center">{{ player.profile.points }}</td>
      <td class="text-center">{{ player.profile.solved }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-danger" role="alert">{{ _("No players in database!") }}</div>
{% endif %}
</div>

<div class="col-lg-2">
  {% if user.is_staff %}
  <div class="card">
    <div class="card-header">
      {{ _("Administration") }}
    </div>
    <div class="card-body text-center">
      <a class="btn btn-secondary"
        href="{% url 'admin:auth_user_add' %}">{{ _("New player") }}</a>
    </div>
  </div>
  {% endif %}
</div>
</div>
{% endblock %}
