{% extends 'app/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("Add a new challenge") }}{% endblock %}
{% block content %}

{% include 'show_form_errors.html' %}

<div class="alert alert-secondary" role="alert">
<form action="{% url 'app:new_challenge' %}" method="post" role="form" enctype="multipart/form-data">
    <h5 class="mb-4">{{ _("Use this form to add a new challenge") }}</h5>
{% csrf_token %}
{% for e in new_challenge_form.visible_fields %}
    <div class="form-group mb-3">
    {{ e.label_tag }}
    {{ e }}
    </div>
{% endfor %}
<button type="submit" class="btn btn-primary mb-4" value="add">{{ _("Add challenge") }}</button>
<a href="{% url 'app:challenges' %}" class="btn btn-danger mb-4">{{ _("Cancel and go to the challenges page") }}</a>
</form>
</div>

{% endblock %}
