{% extends 'app/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("Player") }}{% endblock %}
{% block content %}
{% load i18n %}
{% load static %}
<div class="card">
  <div class="card-body">
<div class="row">
  <div class="col-sm-4">
    <div class="my-3">
      <img class="img-thumbnail"
      src="{{ user.profile.avatar.url }}" alt="avatar" width="256">
    </div>
    <h1 class="mb-5">
    {% if player.first_name and player.last_name %}
    {{ player.first_name }} {{ player.last_name }}
    {% else %}
    {{ player.username }}
    {% endif %}
    </h1>
  </div>

  <div class="col-sm-8 ">
    <div class="form-group my-3 row">
      <label for="organization" class="control-label col-sm-2 mt-2">{{ _("Organization") }}</label>
      <div class="col-sm-4">
          <a href="{% url 'app:organization' pk=player.profile.organization.id %}"
           class="btn btn-secondary form-control text-start">{{ player.profile.organization }}</a>
        </div>
      <div class="col-sm-6"></div>
    </div>

    <div class="form-group mb-3 row">
      <label for="team" class="control-label col-sm-2 mt-2">{{ _("Team") }}</label>
      <div class="col-sm-4">
        <a href="{% url 'app:team' pk=player.profile.team.id %}"
         class="btn btn-secondary form-control text-start">{{ player.profile.team }}</a>
      </div>
      <div class="col-sm-6"></div>
    </div>

    <!-- points -->
    <div class="form-group mb-3 row">
      <label for="points" class="control-label col-sm-2 mt-2">{{ _("Points") }}</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="points"
        value="{{ player.profile.points }}" disabled>
      </div>
      <div class="col-sm-6"></div>
    </div>

    <!-- Num solved -->
    <div class="form-group mb-3 row">
      <label for="solved" class="control-label col-sm-2 mt-2">{{ _("Solved") }}</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="solved"
        value="{{ player.profile.solved }}" disabled>
      </div>
      <div class="col-sm-6"></div>
    </div>

</div></div>
  </div>
</div>
<!--
  rank
-->

{% endblock %}
