{% extends 'app/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("Profile") }}{% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% load static %}

{% if profile_data %}
<div class="card px-3">
  <div class="card-body">
    <div class="row">        
      <div class="col-sm-4">
        <img src="{% static user.profile.avatar.url %}" alt="avatar" width="256" class="card-img-top" style="width: 18rem;">
        {% if editMode %}
        {% else %}
        <form id="editprofile" class="my-2" action="{% url 'app:profile' pk=user.id %}"
          method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <button type="button" class="btn btn-danger">{{ _("Edit profile") }}</button>
        </form>
        {% endif %}
      </div>
      <div class="col-sm-8">
        <form class="" action="#">      
          {% csrf_token %}
          {% for e in user_data %}
          <div class="form-group mb-3 row">
            <label for="{{ e.name }}" class="control-label col-sm-4 mt-2">{{ e.label }}</label>
            <div class="col-sm-8">
              <input type="{{ e.type }}" class="{{ e.class }}" id="{{ e.name }}" value="{{ e.value }}" disabled>
            </div>
          </div>
          {% endfor %}
          {% for e in profile_data %}
          <div class="form-group mb-3 row">
            <label for="{{ e.name }}" class="control-label col-sm-4 mt-2">{{ e.label }}</label>
            <div class="col-sm-8">
              {% if e.name == "organization" %}
              <a href="{% url 'app:organization' pk=e.value.id %}"
                class="btn btn-secondary form-control text-start">{{ e.value }}</a>
              {% elif e.name == "team" %}
              <a href="{% url 'app:team' pk=e.value.id %}"
                class="btn btn-secondary form-control text-start">{{ e.value }}</a>
              {% else %}
              <input type="{{ e.type }}" class="{{ e.class }}" id="{{ e.name }}" value="{{ e.value }}" disabled>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}

