{% extends 'app/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("Profile") }}{% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% load static %}
{% include 'app/show_form_errors.html' %}

<div class="card px-3">
  <div class="card-body">
    <div class="row">        
      <div class="col-sm-4">
        <img src="{{ user.profile.avatar.url }}"
          alt="avatar" width="256" class="rounded-circle account-img" style="width: 18rem;">
      </div>
      <div class="col-sm-8">
        <h2>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h2>
        <form action="{% url 'app:profile' %}" method="post"
          enctype="multipart/form-data">
          <hr>      
          {% csrf_token %}
          {% for e in user_form.visible_fields %}
          <div class="form-group mb-3">
            {{ e.label_tag }}
            {{ e }}
          </div>
          {% endfor %}
          {% for e in profile_form.visible_fields %}
          <div class="form-group mb-3">
            {{ e.label_tag }}
            {{ e }}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-danger float-end">{{ _("Save changes") }}</button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

