{% extends 'app/base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ _("Teams") }}{% endblock %}
{% block content %}
{% load i18n %}
{% load static %}
<div class="row">
  <div class="col-lg-10">
    {% if team_list %}
    <table class="table border table-borderless">
      <thead class="border">
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{ _("Image") }}</th>
          <th scope="col">{{ _("Team") }}</th>
          <th scope="col">{{ _("Description") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for team in team_list %}
        <tr class="align-middle">
          <th scope="row">{{ team.id }}</th>
          <td><a href="{% url 'app:team' pk=team.id %}"><img class="img-thumbnail" src="{% static team.image.url %}"
            alt="avatar" width="64"></a></td>
          <td><a href="{% url 'app:team' pk=team.id %}">{{ team.name }}</a></td>
          <td>{{ team.description|truncatechars:64 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-danger" role="alert">{{ _("No teams in database!") }}</div>
    {% endif %}
  </div>

  <div class="col-lg-2">
    {% if user.is_staff %}
    <div class="card">
      <div class="card-header">
        {{ _("Administration") }}
      </div>
      <div class="card-body text-center">
        <a class="btn btn-secondary"
          href="{% url 'admin:app_team_add' %}">{{ _("New team") }}</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
